<div class="partials pc manage sidebar-vert">
    <div class="text">test Settings</div>
    <div class="text">test Settings</div>
    <div class="text">test Settings</div>
    <div class="text">test Settings</div>
    <div class="text">test Settings</div>
</div>