<div class="partials pc manage sidebar">
    <div class="user">
        <% if(user.img){ %>
            <img src="<%=user.img%>" class="profile-dum">
        <% }else{%>
            <img src="/icn/user.png" class="profile-dum filter">
        <%};%>
        <p class="txt p dim">
            <%= user.name %>
        </p>
    </div>
    <ul>
        <li <% if(view == "account"){ %> class="on" <%};%>  onclick="window.location.href = '/manage?pg=account'">Account info <span>></span></li>
        <li <% if(view == "security"){ %> class="on" <%};%> onclick="window.location.href = '/manage?pg=security'">Security <span>></span></li>
        <li <% if(view == "Apperence"){ %> class="on" <%};%> onclick="window.location.href = '/manage?pg=Apperence'">Apperence <span>></span></li>
        <li <% if(view == "other"){ %> class="on" <%};%> onclick="window.location.href = '/manage?pg=other'">Other settings <span>></span></li>
        <li <% if(view == "data"){ %> class="on" <%};%> onclick="window.location.href = '/manage?pg=data'">Your data <span>></span></li>
    </ul>
    <ul>
        <li><a href="#Bsic_User_Data">edit profile image</a></li>
        <li><a href="#Bsic_User_Data">user name</a></li>
        <li><a href="#Bsic_User_Data">user email</a></li>
        <li><a href="#Bsic_User_Data">user bio</a></li>
        <li><a href="#Bsic_User_Data">user phone</a></li>
        <li><a href="#Bsic_User_Data">user date of berth</a></li>
        <li><a href="#Custom_Fields">edit custom fields</a></li>
    </ul>

    <div class="spacer"></div>
</div>