<div class="partials pc title">
    <div class="left">
        <!-- img -->
        <h3 onclick="window.location.href = '/'"><%=title%></h3>
    </div>
    <div class="search">
        <input type="text" placeholder="Search">
        <img src="/icn/search.svg" title="Search">
    </div>
    <div class="right">
        <img src="/icn/account.svg" title="Account">
    </div>
</div>