

<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&family=Righteous&family=Source+Code+Pro&display=swap');

    html {
        height: 100%;
        background-color: #27282b;
    }

    body {
        background-color: #27282b;
    }
</style>
<div class="loginContHome" id="loginContHome" style="
     width: 100%; 
     height:100%; 
     background-color:#27282b; 
     position:absolute; 
     display:flex; 
     align-items:center; 
     justify-content:center;">

    <span style="font-size: 25px; color: white;">Loding...</span>

</div>