        <div class="footer"> 
            <!-- this div crates a footer with copyright info -->
            <i>
                <script>
                    document.write("Copyright © " + new Date().getFullYear() + " All rights reserved");
                </script>
            </i>
        </div>