<div class="quickaction">
    <ul>
        <li>html</li>
        <li>css</li>
        <li>Js</li>
        <li>Node js</li>
        <li>html</li>
        <li>css</li>
        <li>Js</li>
        <li>Node js</li>
        <li>html</li>
        <li>css</li>
        <li>Js</li>
        <li>Node js</li>
    </ul>
</div>